$background-color: #eeedef;
$dark-primary-color: #c2185b;
$primary-color: #e91e63;
$light-primary-color: #f8bbd0;
$secondary-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$dividor-color: #bdbdbd;
$material-red-500: #f44336;
