$background-color: #eeedef;
$dividor-color: #bdbdbd;

// Primary colors
$dark-primary-color: black;
$primary-color: #48d1cc;
$dark-primary-color: #1c9793;
$material-red-500: #f44336;

// Text colors
$primary-text-color: #48d1cc;
$secondary-text-color: #757575;

// Sizes
$origin-info-card-height: 135px;
