.circle-button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  visibility: visible;

  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    visibility: hidden;
    transition: 0.25s cubic-bezier(0, 0, 0.2, 1);
    opacity: 0;
  }

  i {
    color: white;
  }

  .ripple {
    position: absolute;
    background-color: black;
    opacity: 0.15;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    transform: translate3d(-50%, -50%, 0);
    animation: ripple-effect cubic-bezier(0, 0, 0.2, 1) 0.8s forwards;
  }
}

@keyframes ripple-effect {
  0% {
    opacity: 0.15;
    width: 40%;
    height: 40%;
  }

  100% {
    opacity: 0;
    width: 400%;
    height: 400%;
  }
}
