.text-input-container {
  position: relative;
  width: 100%;

  .input-content-container {
    position: relative;
    width: 100%;

    .text-input {
      width: 100%;
      padding: 10px;

      border: 2px solid $dividor-color;
      border-radius: 2px;

      font-size: 12px;
      letter-spacing: 0.5px;

      &.focused {
        border: 2px solid $primary-color;
      }
    }

    .text-input-placeholder {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate3d(0, -50%, 0);
      padding: 0 5px;

      background-color: white;
      font-size: 12px;
      color: $secondary-text-color;
      cursor: text;
      margin-left: 4px;

      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      &.focused {
        top: 0;
        font-size: 10px;
        letter-spacing: 0.5px;
        color: $primary-color;
        font-weight: bold;
        cursor: default;

        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .warn-container {
    height: 20px;
    margin-top: 8px;
    opacity: 1;

    display: flex;
    align-items: center;

    color: $dark-primary-color;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    i {
      margin-right: 5px;
      font-size: 13px;
    }

    .warn-text {
      font-size: 11px;
      letter-spacing: 0.3px;
      font-weight: 500;
    }

    &.hidden {
      height: 0;
      margin-top: 0;
      opacity: 0;
    }
  }
}
