.tag-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 3px;
  line-break: anywhere;
  font-size: 14px;
  // height: 24px;
  background-color: teal;

  .tag-text {
    white-space: nowrap;
    width: 100%;
  }

  i {
    cursor: pointer;
    margin-left: 10px;
  }
}
